
// CERN Police retrieved from https: //gitlab.cern.ch/web-team/drupal/public/d8/themes/cernbase/blob/master/sass/base.scss
@font-face {
  font-family: "sourcesans-regular";
  src: url("/src/assets/font/source-sans-regular.eot") format("eot");
}

@font-face {
  font-family: "opensans-regular";
  src: url("/src/assets/font/open-sans-regular.eot") format("eot");
}

// url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"),
// url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"),
// url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"),
// url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg"
