.container-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "container-navbar"
    "container-content";
}

.container-navbar {
  grid-area: container-navbar;
}

.container-content {
  grid-area: container-content;
}
