<mat-card class="marged">
  <mat-card-header>
    <mat-card-title>Home</mat-card-title>
    <mat-card-subtitle>Here you will find your tasks' categories, click on it to display the associated tasks or
      click on the button below to create a new category</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <ng-container *ngIf="categories.length>0;else noData">

      <mat-selection-list>
        <ng-container *ngFor="let category of categories; trackBy: trackCategory; last as last">

          <mat-list-item (click)="onCategoryView(category)" class="clickable">
            <mat-icon matListItemIcon>{{IconEnum.CHEVRON}}</mat-icon>
            <div matListItemTitle>{{category.name}}</div>
            <div matListItemLine>{{category.description}}</div>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-selection-list>
    </ng-container>
    <ng-template #noData>
      <p>No category exists for the moment</p>
    </ng-template>
  </mat-card-content>
</mat-card>

<div class="row-centered marged card-footer">
  <button mat-flat-button color="primary" class="marged" (click)="onCreateCategory()">
    <mat-icon>{{IconEnum.NEW}}</mat-icon>
    Add category</button>
</div>
